# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Temporary files
*.tmp
*.bak

# IDE folders
.vscode/
.idea/

# Data files (optional if large)
*.csv

# Model files
*.pkl

# Streamlit cache
.streamlit
